[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spaci"]
	path = spaci
	url = https://github.com/ogunsolaia/spaci
	subdir = spaci
